<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <h3>Logo</h3>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <form class="d-flex gap-2 align-items-center" role="search">
        <a  class="user" href="/user"><span><i class="fa-regular fa-user"></i></span></a>
        <button class="btn btn-link" type="submit"><i class="fas fa-door-open"></i></button>
      </form>
    </div>
  </div>
</nav>
